---
import Footer from "@components/footer.astro";
import Navbar from "@components/navbar.astro";
// import "@fontsource/inter/variable.css";
import { checkImageUrl } from "@utils/all";
import { SEO } from "astro-seo";
import { ClientRouter   } from "astro:transitions";
export interface Props {
  title?: string;
  desc?: string;
  ogimage?: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site).toString();

const { title, desc, ogimage = "/opengraph.jpg" } = Astro.props;

const resolvedOGImage = checkImageUrl(ogimage, Astro.site);

const makeTitle = title ? title + " | " : "keep growing";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <ClientRouter  />
    <SEO
      title={makeTitle}
      description={desc || "keep growing"}
      canonical={canonicalURL}
      openGraph={{
        basic: {
          url: canonicalURL,
          type: "website",
          title: `keep growing`,
          image: resolvedOGImage,
        },
        image: {
          alt: "Stablo Screenshot",
        },
      }}
    />
  </head>
  <body class="font-wenkai">
    <div class="min-h-screen flex flex-col">
      <Navbar />
      <div class="flex-1">
        <slot />
      </div>
      <Footer class="flex-shrink-0 mt-8" />
    </div>
    <style is:global>
      /* Improve Page speed */
      /* https://css-tricks.com/almanac/properties/c/content-visibility/ */
      img {
        content-visibility: auto;
      }
      @font-face {
        font-family: "wenkai-light";
        src: url("/fonts/LXGWWenKai-Light.ttf") format("ttf");
        font-weight: normal;
        font-style: normal;
        font-display: swap;
      }
      @font-face {
        font-family: "wenkai-mono-light";
        src: url("/fonts/LXGWWenKaiMono-Light.ttf") format("ttf");
        font-weight: normal;
        font-style: normal;
        font-display: swap;
      }
      @font-face {
        font-family: "wenkai-mono-blod";
        src: url("/fonts/LXGWWenKaiMono-Light.ttf") format("ttf");
        font-weight: normal;
        font-style: normal;
        font-display: swap;
      }
    </style>
  </body>
</html>
